RK_DEBIAN_MIRROR="ftp2.de.debian.org"
RK_ROOTFS_SYSTEM_DEBIAN=y
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="armsom"
RK_ROOTFS_LOCALE_CUSTOM=y
RK_ROOTFS_INSTALL_MODULES=y
RK_WIFIBT_CHIP="RTL8852BS"
RK_UBOOT_SPL=y
RK_KERNEL_DTS_NAME="rk3576-armsom-sige5"
RK_USE_FIT_IMG=y
RK_PACKAGE_FILE_CUSTOM=y
